[Unit]
Description=My Script Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/admin/nilesZR6Rest/launch_rest.sh

[Install]
WantedBy=multi-user.target
